header{
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titlebar
{
    background-color: black;
    display: flex;
    justify-content: center;

}

h1.brand
{
    font-size: larger;
    font-weight: bolder;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar
{
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    
}
.login  
{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login 
{
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info
{
    width: 70%;
}

.sep
{
    height: 40px;
    width: 2px;
    background-color: white;
}

#logo
{
    height: 50px;
    width: auto;
}

.prod {
    display: grid;
    width:100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:1200px;
    }
.product-item
{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.prod-img
{
    height: 250px;
    width: 250px;
    overflow: hidden;

}

img.prod-css
{
    height: auto;
    width: 250px;
}
.pagebar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;    
}

#Login-title
{
    color: white;

}

.login-form
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    padding: 50px;
    background-color: white;

}

.login-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 80vh;
    background-color: black;

}

input
{
    width: 60%;
    height: 25px;
}

button
{
    width: 40%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px ;
}
label
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: center;
}

button:hover
{
    background-color: black;
    color: white;
}

