.submenu-content
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    color: white;
    z-index: 1;

    padding: 50px;
}
li
{
    list-style-type: none;

}

.sub-menu:hover .submenu-content{

    display: block;
}

