.submenu-content
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: black;
    color: white;
    z-index: 1;


}
li
{
    list-style-type: none;

}



.sub-menu :hover .submenu-content{

    display: block;
}

